*{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

#list{
    margin-left: 15rem;
}

#opc-clientes{
    margin-left: 25%;
}

label{
    margin-top: 20px !important;
}

#formulario-Clientes > h1{
    font-size: 3.5rem;
    font-family:fantasy;
}