*{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    box-sizing: border-box !important;
}

#list{
    margin-left: 15rem;
}

#opc-clientes , #opc-clientes2{
    margin-left: 25%;
}

label{
    margin-top: 20px !important;
}

#formulario-Clientes > h1{
    font-size: 3.5rem;
    font-family:fantasy;
}

img{
    width: 80px;
}

#botones2{
    margin-top: 60px;

}

#btn-AgregarRuta{
height: 50px;
}